@use "global" as *;


.vice {
  margin-bottom: rem(55);
  position: relative;
  @include mq("md") {
    margin-bottom: rem(115);  
  }
}

.vice__title-inner {
  max-width: rem(1280);
  margin: 0 auto;
  margin-top: rem(55);

  @include mq("md") {
    max-width: rem(1080);
    margin: 0 auto;
    padding-top: rem(168);



  }
}

.vice__main {

  @include mq("md") {
    display: flex;
    position: relative;
    max-width: rem(1080);
  }
}

.vice__bg-img1 {
  display: none;

  @include mq("md") {
    display: flex;
    position: absolute;
    top: 85%;
    left: 83%;
    width: rem(71);
  }
}

.vice__bg-img2 {
  display: none;

  @include mq("md") {

    display: flex;
    left: 6%;
    position: absolute;
    top: 6%;
    width: rem(302);

  }
}

.p-card-list-items {

  @include mq("md") {
    margin: 0 auto;
    margin-top: rem(0);
    margin-bottom: rem(80);
  }
}

.p-card-list-item {
  width: rem(600);
  margin: 0 auto;
  max-width: rem(345);
  box-shadow: 0 0 rem(8) gray;
  padding: rem(15) rem(16) rem(24) rem(16);

  @include mq("md") {
    max-width: rem(520);


  }
}

.p-card-list-items {
  margin-bottom: rem(40);

  @include mq("md") {
    display: flex;
  }
}

.p-card-list-item {
  max-width: 100%;

  @include mq("md") {
    max-width: calc(50% - rem(40) * 1/2); //計算式calc(100%をカード数で割る - カード間 * 隙間の数/カード数)
    width: 100%;
  }

}

.p-card-list-item+.p-card-list-item {

  @include mq("md") {
    margin-left: rem(40); //隙間の幅
  }
}

.p-card-list-item:first-child {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(0);
  }
}

.p-card-list-item:nth-child(2n + 1) {

  @include mq("md") {
    margin-top: rem(0);
    margin-left: 0;
  }

}

.p-card-list-item:nth-child(n + 2) {
  margin-top: rem(35);

  @include mq("md") {
    margin-top: rem(30);
  }
}

.p-card-list-item:first-child {
  @include mq("md") {
    margin-top: rem(30);
  }
}

.vice__section-title {
  width: rem(87);
  margin: 0 auto;

  @include mq("md") {
    width: rem(157);
    margin: 0 auto;
  }

  @include mq("md") {
    width: rem(109);
  }
}

.vice__section-text {
  font-size: rem(12);
  color: $green;
  text-align: center;
  margin-top: rem(14);

  @include mq("md") {
    margin-top: rem(17);
  }

}

.space__vice-foot {
  padding-top: rem(41);

  @include mq("md") {
    padding-top: rem(32);
  }
}


div.card2__img {

  position: relative;
  width: 100%;
  margin: rem(0) auto rem(0);
  margin-top: rem(10);
  height: rem(120);

  @include mq("md") {
    height: rem(150);
    position: relative;
    margin: rem(0) auto rem(0);


  }
}

.card2__img {
  padding-top: 0%; //比率の計算式 横233/縦350*100%=画像の比率
}

.card2__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}


div.card2__img div.color {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: $green;
}

div.card2__img img {
  display: block;
  width: 100%;
}